<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EvntStr">

	<select id="readAllEvntStr"
		parameterType="com.ktds.fr.evntstr.vo.EvntStrVO"
		resultType="com.ktds.fr.evntstr.vo.EvntStrVO">
	SELECT
		EVNT_STR_ID ,
		EVNT_ID ,
		STR_ID ,
		USE_YN ,
		DEL_YN
	FROM
		EVNT_STR
	WHERE 1 = 1
		AND EVNT_ID = #{evntId}
		AND DEL_YN = 'N'
	</select>

</mapper>
