<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Prdt">
	
	<resultMap type="com.ktds.fr.prdt.vo.PrdtVO"
				id="prdtVOMap"
				autoMapping="true">
		<id property="prdtId" column="PRDT_ID"/>
		<association property="cmmnCdVO"
					javaType="com.ktds.fr.cmmncd.vo.CmmnCdVO"
					autoMapping="true">
			<id property="cdId" column="PRDT_SRT"/>
		</association>
		<association property="prdtRgstrMbrVO"
					javaType="com.ktds.fr.mbr.vo.MbrVO"
					autoMapping="true">
			<id property="mbrId" column="PRDT_RGSTR"/>
		</association>
		<association property="mdfyrMbrVO"
					javaType="com.ktds.fr.mbr.vo.MbrVO"
					autoMapping="true">
			<id property="mbrId" column="MDFYR"/>
		</association>
		
	</resultMap>
	
	<select id="readAll"
			parameterType="com.ktds.fr.prdt.vo.PrdtVO"
			resultMap="prdtVOMap">
		<include refid="PrdtCommon.page_header"></include>
		SELECT P.PRDT_ID
			 , P.PRDT_NM
			 , P.PRDT_PRC
			 , P.PRDT_CNTNT
			 , P.PRDT_FILE_ID
			 , P.PRDT_SRT
			 , CMMN.CD_NM
			 , P.PRDT_RGSTR
			 , R.MBR_NM RGSTR_NM
			 , P.PRDT_RGST_DT
			 , P.MDFYR
			 , M.MBR_NM MDFYR_NM
			 , P.MDFY_DT
			 , P.USE_YN
			 , P.DEL_YN
		  FROM PRDT P
		  LEFT JOIN CMMN_CD CMMN
		    ON P.PRDT_SRT = CMMN.CD_ID
		  LEFT JOIN MBR R
		    ON P.PRDT_RGSTR = R.MBR_ID
	      LEFT JOIN MBR M
		    ON P.MDFYR = M.MBR_ID
		 WHERE P.DEL_YN = 'N'
		<if test='prdtSrt != null and prdtSrt != ""'>
		   AND P.PRDT_SRT = #{prdtSrt} 
		</if>
		<if test='prdtNm != null and prdtNm != ""'>
		   AND P.PRDT_NM LIKE '%' || #{prdtNm} || '%'
		</if>
		<if test='useYn != null and useYn != ""'>
		   AND P.USE_YN LIKE #{useYn}
		</if>
		ORDER BY P.PRDT_ID DESC
		<include refid="PrdtCommon.page_footer"></include>
	</select>
	<select id="readOne"
			resultType="com.ktds.fr.prdt.vo.PrdtVO">
		SELECT PRDT_ID
			 , PRDT_NM
			 , PRDT_PRC
			 , PRDT_CNTNT
			 , PRDT_FILE_ID
			 , PRDT_SRT
			 , PRDT_RGSTR
			 , PRDT_RGST_DT
			 , MDFYR
			 , MDFY_DT
			 , USE_YN
			 , DEL_YN
		  FROM PRDT
		 WHERE DEL_YN = 'N'
		   AND PRDT_ID = #{_parameter}
	</select>
	
	
	
	<insert id="create" 
			parameterType="com.ktds.fr.prdt.vo.PrdtVO">
			<selectKey keyProperty="prdtId"
						order="BEFORE"
						resultType="string">
				SELECT 'PD-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_PRDT_PK.NEXTVAL, 5, '0')
				  FROM DUAL
			</selectKey>
		INSERT INTO PRDT
		( PRDT_ID
		, PRDT_NM
		, PRDT_PRC
		, PRDT_CNTNT
		, PRDT_FILE_ID
		, PRDT_SRT
		, PRDT_RGSTR
		, PRDT_RGST_DT
		, MDFYR
		, MDFY_DT
		, USE_YN
		, DEL_YN)
		VALUES
		( #{prdtId}
		, #{prdtNm}
		, #{prdtPrc}
		, #{prdtCntnt}
		, #{prdtFileId}
		, #{prdtSrt}
		, #{prdtRgstr}
		, SYSDATE
		, #{mdfyr}
		, SYSDATE
		, NVL(#{useYn}, 'N')
		, 'N' )
	</insert>
	
	<update id="update"
			parameterType="com.ktds.fr.prdt.vo.PrdtVO">
		UPDATE PRDT 
		   SET PRDT_NM = #{prdtNm} 
		     , PRDT_PRC = #{prdtPrc} 
		     , PRDT_CNTNT = #{prdtCntnt} 
		     , PRDT_FILE_ID = #{prdtFileId} 
		     , PRDT_SRT = #{prdtSrt} 
		     , MDFYR = #{mdfyr} 
		     , MDFY_DT = SYSDATE 
		     , USE_YN = NVL(#{useYn}, 'N')  
		 WHERE PRDT_ID = #{prdtId} 
	</update>
	
	<update id="deleteOne"
			parameterType="string">
		UPDATE PRDT 
		   SET DEL_YN = 'Y' 
		 WHERE PRDT_ID = #{_parameter} 
	</update>
	
	<update id="deleteSelectAll"
			parameterType="arrayList">
		UPDATE PRDT 
		   SET DEL_YN = 'Y' 
		 WHERE PRDT_ID IN
		<foreach item="prdtId" collection="list"
		    open="(" separator=", " close=")">
		  #{prdtId} 
		</foreach>
	</update>
	

	


</mapper>
