<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StrPrdt">


	<resultMap type="com.ktds.fr.strprdt.vo.StrPrdtVO"
				id="strPrdtVOMap"
				autoMapping="true">
		<id property="strPrdtId" column="STR_PRDT_ID"/>
		<association property="strVO"
					javaType="com.ktds.fr.str.vo.StrVO"
					autoMapping="true">
			<id property="strId" column="STR_ID"/>
		</association>
		<association property="prdtVO"
					javaType="com.ktds.fr.prdt.vo.PrdtVO"
					autoMapping="true">
			<id property="prdtId" column="PRDT_ID"/>
		</association>
		<association property="cmmnCdVO"
					javaType="com.ktds.fr.cmmncd.vo.CmmnCdVO"
					autoMapping="true">
			<id property="cdId" column="CD_ID"/>
		</association>
		<association property="mdfyrMbrVO"
					javaType="com.ktds.fr.mbr.vo.MbrVO"
					autoMapping="true">
			<id property="mbrId" column="MDFYR"/>
			<result property="mbrNm" column="MDFYR_NM"/>
		</association>
		<association property="strMbrVO"
					javaType="com.ktds.fr.mbr.vo.MbrVO"
					autoMapping="true">
			<id property="mbrId" column="MBR_ID"/>
			<result property="mbrNm" column="MBR_NM"/>
		</association>
	</resultMap>
	
	
	<select id="readAll"
			parameterType="com.ktds.fr.strprdt.vo.StrPrdtVO"
			resultMap="strPrdtVOMap">
		<include refid="StrPrdtCommon.pageHeader"></include>
		SELECT SP.STR_PRDT_ID PK_COL
			 , DENSE_RANK() OVER(ORDER BY STR_PRDT_ID ASC) RNUM
			 , SP.STR_PRDT_ID
		     , SP.STR_ID 
		     , S.STR_NM
		     , SM.MBR_ID
		     , SM.MBR_NM
		     , SP.PRDT_ID
		     , P.PRDT_SRT
		     , C.CD_NM
		     , P.PRDT_NM 
		     , P.PRDT_PRC
		     , SP.MDFYR 
		     , M.MBR_NM MDFYR_NM
		     , SP.MDFY_DT 
		     , SP.USE_YN 
		     , SP.DEL_YN 
		     , EP.EVNT_PRDT_ID 
			 , EP.EVNT_ID 
			 , EP.EVNT_PRDT_CHNG_PRC 
			 , EP.EVNT_STRT_DT 
			 , EP.EVNT_END_DT 
		  FROM STR_PRDT SP
		 INNER JOIN STR S
		    ON SP.STR_ID = S.STR_ID 
		 INNER JOIN PRDT P
		    ON SP.PRDT_ID = P.PRDT_ID
	      LEFT OUTER JOIN MBR SM
	        ON S.MBR_ID = SM.MBR_ID
		 INNER JOIN CMMN_CD C
		    ON P.PRDT_SRT = C.CD_ID
		  LEFT OUTER JOIN MBR M
		    ON SP.MDFYR = M.MBR_ID
	      LEFT JOIN (SELECT EP.EVNT_PRDT_ID 
						  , EP.PRDT_ID 
						  , EP.EVNT_ID
						  , EP.EVNT_PRDT_CHNG_PRC 
						  , E.EVNT_STRT_DT 
						  , E.EVNT_END_DT 
					   FROM EVNT_PRDT EP
					  INNER JOIN EVNT E 
					     ON EP.EVNT_ID = E.EVNT_ID
					  WHERE E.USE_YN = 'Y'
						AND EP.DEL_YN = 'N'
					    AND SYSDATE >= E.EVNT_STRT_DT
					    AND E.EVNT_END_DT >= SYSDATE) EP 
    		ON P.PRDT_ID = EP.PRDT_ID 
		 WHERE SP.DEL_YN = 'N'
		   AND P.USE_YN = 'Y'
		<if test='strId != null and strId != ""'>
		   AND SP.STR_ID = #{strId}
		</if>
		<if test='useYn != null and useYn != ""'>
		   AND SP.USE_YN = #{useYn}
		</if>
		<if test='cmmnCdVO != null and cmmnCdVO != ""'>
		   AND C.CD_ID = #{cmmnCdVO.cdId}
		</if>
		<if test='prdtId != null and prdtId != ""'>
		   AND SP.PRDT_ID = #{prdtId}
		</if>
		<if test='evntVO != null and evntVO!= ""'>
		   AND EP.EVNT_ID IS 
			<if test='evntVO.evntId == "Y"' >
		   		NOT
			</if>
		   NULL
		</if>
		 ORDER BY S.STR_NM ASC 
		<include refid="StrPrdtCommon.pageFooter"></include>
	</select>

	<select id="readAllNOPagenation"
			parameterType="com.ktds.fr.strprdt.vo.StrPrdtVO"
			resultMap="strPrdtVOMap">
		SELECT SP.STR_PRDT_ID
		     , SP.STR_ID 
		     , S.STR_NM
		     , SM.MBR_ID
		     , SM.MBR_NM
		     , SP.PRDT_ID
		     , P.PRDT_SRT
		     , C.CD_NM
		     , P.PRDT_NM 
		     , P.PRDT_PRC
		     , SP.MDFYR 
		     , M.MBR_NM MDFYR_NM
		     , SP.MDFY_DT 
		     , SP.USE_YN 
		     , SP.DEL_YN 
		  FROM STR_PRDT SP
		 INNER JOIN STR S
		    ON SP.STR_ID = S.STR_ID 
		 INNER JOIN PRDT P
		    ON SP.PRDT_ID = P.PRDT_ID
	      LEFT OUTER JOIN MBR SM
	        ON S.MBR_ID = SM.MBR_ID
		 INNER JOIN CMMN_CD C
		    ON P.PRDT_SRT = C.CD_ID
		  LEFT OUTER JOIN MBR M
		    ON SP.MDFYR = M.MBR_ID
		 WHERE SP.DEL_YN = 'N'
		   AND P.USE_YN = 'Y'
		<if test='strId != null and strId != ""'>
		   AND SP.STR_ID = #{strId}
		</if>
		<if test='useYn != null and useYn != ""'>
		   AND SP.USE_YN = #{useYn}
		</if>
		<if test='cmmnCdVO != null and cmmnCdVO != ""'>
		   AND C.CD_ID = #{cmmnCdVO.cdId}
		</if>
		<if test='prdtId != null and prdtId != ""'>
		   AND SP.PRDT_ID = #{prdtId}
		</if>
		 ORDER BY S.STR_NM ASC, P.PRDT_NM
	</select>
	
	
	<select id="readAllCustomerByStr"
			parameterType="com.ktds.fr.strprdt.vo.StrPrdtVO"
			resultMap="strPrdtVOMap">
		<include refid="StrPrdtCommon.pageHeader"></include>
		SELECT *
			 , ROWNUM RNUM
		  FROM (
		SELECT SP.STR_PRDT_ID PK_COL
			 , SP.STR_ID
			 , SP.PRDT_ID
			 , SP.USE_YN
			 , P.PRDT_ID
			 , P.PRDT_NM
			 , P.PRDT_PRC
			 , P.PRDT_CNTNT
			 , P.PRDT_SRT
			 , P.UUID_FL_NM
			 , EP.EVNT_ID
			 , EP.EVNT_TTL
		     , EP.EVNT_STRT_DT
		     , EP.EVNT_END_DT
		     , EP.EVNT_PRDT_ID
			 , EP.EVNT_PRDT_CHNG_PRC
		  FROM (SELECT SP.STR_PRDT_ID
					 , SP.STR_ID
					 , SP.PRDT_ID
					 , USE_YN
				  FROM STR_PRDT
				 WHERE STR_ID = 'ST-20230419-00172') SP
		 INNER JOIN STR S
		    ON SP.STR_ID = S.STR_ID
		  LEFT OUTER JOIN PRDT P 
		    ON SP.PRDT_ID = P.PRDT_ID 
		  LEFT OUTER JOIN (SELECT E.EVNT_ID
		  						, E.EVNT_TTL
							    , E.EVNT_STRT_DT
							    , E.EVNT_END_DT
							    , EP.EVNT_PRDT_ID
								, EP.PRDT_ID
								, EP.EVNT_PRDT_CHNG_PRC
		  					 FROM (SELECT EVNT_ID
		  							    , EVNT_TTL
		  							    , EVNT_STRT_DT
		  							    , EVNT_END_DT
				  					 FROM EVNT
				  					WHERE USE_YN = 'Y'
				  					  AND DEL_YN = 'N'
				  					  AND SYSDATE >= EVNT_STRT_DT
				  					  AND EVNT_END_DT >= SYSDATE) E
		  					INNER JOIN (SELECT EVNT_PRDT_ID 
		  									 , EVNT_ID
		  									 , PRDT_ID
		  									 , EVNT_PRDT_CHNG_PRC
					  					  FROM EVNT_PRDT 
					  					 WHERE DEL_YN = 'N')EP 
		  					   ON E.EVNT_ID = EP.EVNT_ID ) EP
		    ON SP.PRDT_ID = EP.PRDT_ID
		<if test='prdtSrt != null and prdtSrt != ""'>
		   AND P.PRDT_SRT = #{prdtSrt} 
		</if>
		ORDER BY SP.USE_YN DESC, EVNT_ID ASC, P.PRDT_NM ASC )
		<include refid="StrPrdtCommon.pageFooter"></include>
	</select>
	
	
	
	<select id="missingList"
			parameterType="String"
			resultType="com.ktds.fr.prdt.vo.PrdtVO">
		SELECT *
 		  FROM PRDT
		 WHERE PRDT_ID NOT IN (SELECT PRDT_ID
		 						 FROM STR_PRDT
		 						WHERE DEL_YN = 'N'
		 						  AND STR_ID = #{_parameter} )
	</select>


	<insert id="create" parameterType="arrayList" >
	    INSERT INTO STR_PRDT 
		      (STR_PRDT_ID 
		     , STR_ID 
		     , PRDT_ID 
		     , MDFYR 
		     , MDFY_DT 
		     , USE_YN 
		     , DEL_YN) 
		SELECT
			  'SP-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_STR_PRDT_PK.NEXTVAL, 5, '0')
		     , STR_ID
		 	 , PRDT_ID
		     , MDFYR
		     , SYSDATE
		     , 'N'  
		     , 'N'  
	      FROM (
	     <foreach collection="list" 
		    		item="strPrdt" 
			        separator=" UNION ALL ">
	        SELECT #{strPrdt.strId} STR_ID
	             , #{strPrdt.prdtId} PRDT_ID
	             , #{strPrdt.mdfyr} MDFYR
	          FROM DUAL
	    </foreach>
	    	)
	</insert>
	
	
	<update id="update"
			parameterType="com.ktds.fr.strprdt.vo.StrPrdtVO">
		UPDATE STR_PRDT 
		   SET MDFYR = #{mdfyr} 
		     , MDFY_DT = SYSDATE
		     , USE_YN = NVL(#{useYn}, 'N') 
		 WHERE STR_PRDT_ID IN  
		<foreach item="id" 
				collection="strPrdtIdList"
				open="(" 
				close=")"
				separator=", "> 
			#{id}
	 	</foreach>
	</update>
	
	
	<update id="deletePrdtId"
			parameterType="string">
		UPDATE STR_PRDT
		   SET DEL_YN = 'Y'
		 WHERE PRDT_ID = #{_pratemter} 
	</update>
	<update id="deletePrdtList"
			parameterType="arrayList">
		UPDATE STR_PRDT
		   SET DEL_YN = 'Y'
		 WHERE PRDT_ID IN
		<foreach item="prdtId" collection="list"
		    	open="(" separator=", " close=")">
		  #{prdtId} 
		</foreach>
	</update>
		
	<update id="deleteStrId"
			parameterType="string">
		UPDATE STR_PRDT
		   SET DEL_YN = 'Y'
		 WHERE STR_ID = #{_pratemter} 
	</update>
	<update id="deleteStrList"
			parameterType="arrayList">
		UPDATE STR_PRDT
		   SET DEL_YN = 'Y'
		 WHERE STR_ID IN
		<foreach item="StrId" collection="list"
		    open="(" separator=", " close=")">
		  #{StrId} 
		</foreach>
	</update>
	
	
	

</mapper>
