@charset "UTF-8";

body {
	margin: 0px;
	padding: 0px;
}

* {
	font-size: 12px;
	color: #333;
}

.fullscreen {
	position: fixed;
	top: 0px;
	botton: 0px;
	left: 0px;
	right: 0px
}

.bg-gray {
	background-color: #ccc;
}

.item-align-center {
	display: flex;
	aling-items: center;
	justify-content: center
}

/* Aligns */
.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

/* Inputs */
.input-group {
	padding: 3px;
}

.input-group>lable {
	display: inline-block;
	width: 60px;
	backgound-color: #F0F0F0;
	padding: 5px;
	width: 300px;
}

.input-group>input {
	border: 1px solid #999;
	border-radius: 3px;
	padding: 5px;
	width: 150px;
	margin: 0px;
}

.input-group>input[disabled] {
	backgound-color: #FFFFF0;
}

.input-group>input[type=checkbox] {
	width: 312px;
	margin: 0px;
}

/* Buttons */
.btn-primary {
	background-color: #8080ff;
	color: #FFF;
	border: none;
	border-radius: 3px;
	font-size: 9pt;
	padding: 5px
}

.btn-delete {
	background-color: #ff0000;
	color: #FFF;
	border: none;
	border-radius: 3px;
	font-size: 9pt;
	padding: 5px
}

.btn-primary:active {
	background-color: #80a2fd;
}

.btn-delete:active {
	background-color: #fe6578;
}

/* Login*/
.login-group {
	border: 1px solid #777;
	border-radius: 2px;
	padding: 3px;
}

.login-group h1 {
	margin: 0px;
	padding: 0px;
	margin-botton: 10px;
}

/* Main Layouts */


.main-layout>div>.content {
	position: fixed;
	top: 90px;
	bottom: 0px;
	left: 150px;
	right: 0px;
	overflow: auto;
	padding: 10px;
}

/* Grid */
.content>.path {
	padding: 15px;
	background-color: #ffff80;
	margin-bottom: 10px;
}

.content .grid {
	
}

.content .grid>grid-count {
	font-size: 11pt;
}

.content .grid>table {
	border-collapse: collapse;
	border: 1px solid #ddd;
	width: 100%;
}

.content .grid>table>thead>tr {
	background-color: #eee;
}

.content .grid>table>thead>tr>th {
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 5px;
}

.content .grid>table>thead>tr>th:first-child {
	border-left: 0px;
}

.content .grid>table>tbody>tr>td {
	padding: 5px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.content .grid>table>tbody>tr:hover {
	backgrond-color: #fafafa;
}

.content .grid>table>tbody>tr>td:first-child {
	border-left: 0px;
}

.content .grid .no-items {
	text-align: center;
}

.content .grid-detail {
	margin-top: 10px;
}

.content .grid-detail:before {
	content: "상세정보";
	font-size: 13pt;
	font-weight: bold;
}

/* Search */
.search-group {
	dispaly: flex;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #f3f1e6;
}

.search-group .btn-search {
	background-color: #6b8cfe;
	border-radius: 3px;
	border: 0px;
	color: #FFF;
	font-weight: bold;
	font-size: 10pt;
}

.search-group .btn-search:active {
	background-color: #bdccff;
}

.search-group>label {
	dispaly: flex;
}

.search-group .search-input {
	
}

.grow-1 {
	
	flex-grow : 1;
}

.search-row-group {
	dispaly: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #f3f1e6;
}

.search-row-group .search-group {
	margin-top: 0px;
	margin-bottom: 0px;
}

/* pagenate */
.pagenate {
	dispaly: flex;
	margin_top: 10px;
	justify-content: center;
	align-items: center;
}

.pagenate ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.pagenate ul li {
	display: inline-block;
	margin: 0;
	padding: 5px;
	background-color: #e3e3e3;
}

.pagenate ul li a {
	text-decoration: none;
}

.pagenate ul li a.on {
	font-weight: bold;
}

/* margin */
.mt-10 {
	margin-right: 10px;
}

/* Profile*/
input[type=file] {
		
}

img.profile {
	border-radius: 50px;
	width: 100px;
	height: 100px;
}

/* 등록 폼 */
.create-group {
	dispaly: flex;
}

.create-group label {
	dispaly: inline-block;
	background-color: #e3e3e3;
	width: 130px;
	padding: 10px;
}

.create-group input {
	margin: 10px;
	flex-grow: 1;
}

.create-group textarea {
	margin: 10px;
	flex-grow: 1;
}