<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CmmnCd">

	<select id="readCategory"
			parameterType="string"
			resultType="com.ktds.fr.cmmncd.vo.CmmnCdVO">
		SELECT CD_ID 
		     , CD_NM 
		  FROM CMMN_CD
		  
		 <if test='_parameter != null and _parameter != "" and _parameter == "001admin"'>
		 WHERE CD_ID LIKE '001-%'
		   AND CD_ID != '001-01'
		   AND CD_ID != '001-04'
		 </if>
		 <if test='_parameter != null and _parameter != "" and _parameter != "001admin"'>
		 WHERE CD_ID LIKE '%' || #{_parameter} || '-%'
		 </if>
		 ORDER BY CD_ID ASC 
	</select>
</mapper>
