@charset "UTF-8";
body{
	margin: 0px;
	padding:0px;
/* 	font-size: 12px !important;
    line-height: 1.4em;
    font-family: 'Noto Sans KR', sans-serif;
	font-weight
	: 500;
    letter-spacing: -0.2px;
    word-break: keep-all;
    font-family: 's-core-dream', sans-serif;	 */
}

*, ::before, ::after {
     box-sizing: border-box;
}

*{
	font-size:12pt;
	color:#333;
}
/*Main Layout*/
.main-layout {
	padding:0px;
}
.main-layout > .header{
	height: 90px;
	padding: 10px;
	position: relative;
}
.bg-black{
	background-color: #555;
}
.main-layout > .header > .nav{
	display: inline-block;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	position: absolute;
	bottom: 10px;
}

.main-layout > .header > .nav > .nav-item,
.main-layout > .header > .nav > .nav-item > a{
	display: inline-block;
	padding: 0px;
	margin: 0px;
	color: #eee;
	text-decoration: none;
	position: relative;
}

.main-layout > .header > .nav > .nav-item > .sub-item{
	position: absolute;
	top: 40px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	width: 500px;
	text-align: left;
	display: none;
}



.header li.nav-item ul.sub-item {
	position: absolute;
	top: 40px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	display: none; 
	width: 500px;
	text-align: left;
}

.header li.nav-item ul.on {
	display: inline-block; 
}

.header li.nav-item ul.sub-item li.nav-item {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	font-size: 16pt;
}




.main-layout > .header > .nav > .active{
	font-weight: bold;
	color: #ddd;
}
.main-layout > .header > .profile{
	color: #eee;
	position: absolute;
	right: 10px;
	top: 10px;
}
.inline {
	display: inline-block;
}
.main-layout > div > .side-menu{
	width: 150px;
	position: fixed;
	top: 90px;
	bottom: 0px;
}
.main-layout > div > .side-menu > .menu-list{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
} 
.main-layout > div > .side-menu > .menu-list > .menu-item{
	color: #fff;
	padding-top: 10px;
	padding-left: 10px;
}
.main-layout > div > .side-menu > .menu-list > .menu-item:last-child{
	padding-bottom: 10px;
}
.main-layout > div> .content{
	position: fixed;
	top: 90px;
	bottom: 0px;
	left: 150px;
	right: 0px;
	overflow: auto;
	padding: 30px;
	
}


.fullscreen{
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
}
.bg-gray{
	background-color:#ccc;
	
}
.item-align-center{
	display:flex;
	align-items:center;
	justify-content: center;
}

.align-right{
	text-align:right;
}

.align-left{
	text-align:left;
}


/*input  */
.input-group{
	padding:3px;
	
}
.input-group > label {
	display:inline-block;
	width:60px;
	background-color: #f0f0f0;
	padding: 5px;
	
}

.input-group > input{
	border: 1px solid #999;
	border-radius:3px;
	padding:5px;
	width:300px;
} 

.input-group > input[disabled]{
	background-color: #ffffaa
}

.input-group > input[type=checkbox]{
	width:312px;
	margin:0px;
} 




/*botton  */
/* .btn-primary {
	background-color:#4242ff;
	color:#FFF;
	border:none;
	border-radius: 3px;
	font-size: 10px;
	padding:5px;
	
} */

.btn-primary:active {
	background-color: #80a2fd;
}

.btn-delete {
	background-color:#ea021f;
	color:#FFF;
	border:none;
	border-radius: 3px;
	font-size: 10px;
	padding:5px;
}

.btn-delete:active{
	background-color: #fe6578;
}

/*Login*/
.login-group {
	border:1px solid #777;
	border-radius:5px;
	padding:3px;
}

.login-group h1 {
	margin:0px;
	padding:0px;
	margin-bottom:10px;
}




/* Grid  */
.path {
	padding:15px;
	background-color: #ffff80;
	margin-bottom: 10px;
}

.grid {}

.grid > grid-count {
	font-size:11px;
	
}

.grid > table{
	border-collapse:collapse;
	border:1px solid #ddd;
	width:100%;
	
}

.grid > table >thead > tr{
	background-color: #eee;
	border-left: 
}

.grid > table >thead > tr >th{
	border-left: 1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding: 3px;
	font-size:5px;
	background-color: #c0c0c0;
}

.grid > table >thead > tr >th:first-child{
	border-left: 0px;
}

.grid > table > tbody> tr >td {
	padding: 5px;
	/* border-left: 1px solid #ddd; */
	border-bottom: 1px solid #ddd;
	text-align: center;
	height: 45px;
}

.grid > table > tbody> tr:hover{
	background-color: #ffffff;
	}
	
	
.grid > table > tbody> tr >td:first-child{
	border-left: 0xp;
	
}

.grid .no-items {
	text-align: center;
} 

.grid-detail{
	margin-top:10px;
}


.grid-detail:before {
	content: "상세정보";
	font-size: 13pt;
	font-weight:bold;
	
}


 /*Search  */
/*
.search-group{
	display: flex;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
	background-color:#f3f1e6
}

.grow-1 {
	flex-grow: 1;
}
.search-row-group {
	display: flex;
	flex-direction: column;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#f3f1e6
}
재정의 
.search-row-group .search-group{
	margin-top: 0px;
	margin-bottom: 0px;
	
}

.search-group .btn-search{
	background-color: #6b8cfe;
	border-radius:3px;
	border:0px;
	color:#FFF;
	font-weight:bold;
	font-size:10pt;
}
.search-group .btn-search:active{
	background-color:#bdccff
}

.search-group  label{
	margin-right: 10px;
}
.search-group .search-input{
	flex-grow:1;
	margin-right:10px;
}
 */
/* 
page
.pagenate {
	display: flex;
	margin-top: 10px;
	justify-content : center;
	align-items:center;
	
}

.pagenate ul {
	display:inline-block;
	margin:0;
	padding:0;
	list-style-type:none;
}

.pagenate ul li{
	display:inline-block;
	margin:0;
	padding:5px;
	background-color: #e3e3e3;
}

.pagenate ul li a{
	text-decoration:none;
	
}

.pagenate ul li a.on{
	font-weight: bold;
}
 */
.mt-10 {
 margin-top: 10px;
 }
 
 .mr-10 {
 margin-right: 10px;
 }
 

/* Profile  */
input[type=file]{
	display:none;
}

img.profile{
	border-radius:50px; 
	width: 100px; 
	height:100px;
}

/* 등록폼 */

.create-group {
	display: flex;
}
.create-group label {
	font-weight: 600;
	width:60px;	
	padding:10px;
	
}


.create-group input {
	margin:10px;
	flex-grow: 0.3;	
}

.create-group select {
	margin:10px;
	flex-grow: 1;
}


.create-group textarea{
	margin:10px;
	flex-grow: 1;
	height: 350px;
}



/* search 2  */
.board_box {
	display:flex;
	border: #ddd solid 1px;
    background: #c0c0c0;  
    padding: 26px 4%;
    font-size: 15px;
    margin: 10px 0 20px 0; 
} 

.qna_box {
	display:flex;
	border: #ddd solid 1px;
    background: #c0c0c0;  
    padding: 10px 4%;
    font-size: 15px;
    margin: 10px 0 20px 0; 
    border-radius: 3px;
	width: 100%;
	float: right;
	justify-content: space-evenly;
	
}

.qna-text{
	width: 100%;
    height: 180px;
    resize:none;
    word-break: break-all;
    font-size: 20px;
}
.qna-cntnt{
	padding: 20px;
    border: solid 1px;
    margin: 20px;
    
}
.qna-font{
	font-size: 30px;
    font-weight: 1000;
    padding: 5px;
}

.col-xs-4 {
    flex-grow: 1;
    padding-right: 15px;
    padding-left: 15px;
}

.input-text {
    height: 34px;
    padding: 0px 5px;
    border: 1px solid #ddd;
    background-color: #FFF;
    margin: 0 3px;
    font-size: 14px;
    color: #999;
    width: 100%;
}

.col-xs-8 {
    flex-grow: 10;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    
}

.col-xs-12 {
    flex-grow: 1;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.blue-btn { 
    display: inline-block;
    padding: 0 10px;
    height: 34px;
    line-height: 32px;
    background-color: #1e51a2;
    border: 0;
    color: #fff;
    text-align: center;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    font-size: 13px;
    text-decoration:none;
}
.qna-btn{
    height: 50px;
    line-height: 50px;
    background-color: #1e43a2;
    border: 0;
    color: #fff;
    text-align: center;
    transition: 0.2s all;
    font-size: 13px;
    text-decoration: none;	
}


.blue-rpl-btn { 
    background-color: #1e51a2;
    color: #fff;
    text-align: center;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    font-size: 13px;
    text-decoration:none; 
    border-radius: 5px;
    border: 1px solid #333;  
}
.black-rpl-btn{
    background-color: #555;
    color: #fff;
    text-align: center;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    font-size: 13px;
    text-decoration:none; 
    border-radius: 5px;
    border: 1px solid #333;  
}

.red-btn {
	height: 40px;
    display: inline-block;
    padding: 0 10px;
    line-height: 32px;
    background-color: #f00000;
    color: #fff;
    text-align: center;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    font-size: 13px;
    text-decoration:none; 
    border-radius: 0px;
    border: 1px solid #333;  
}

.red-rpl-btn {
    background-color: #f00000;
    color: #fff;
    text-align: center;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    font-size: 13px;
    text-decoration:none; 
    border-radius: 5px;
    border: 1px solid #333;  
}


a.red-btn {
    display: inline-block;
    padding: 0 10px;
    height: 34px;
    line-height: 32px;
    background-color: #f00000;
    border: 0;
    color: #fff;
    text-align: center;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    font-size: 13px;
    text-decoration:none; 
}


/*  header */
.header-option-bar{
	border-bottom: 1px solid #e0e0e0;
	margin-top: 50px;	
	display: table;	
	width: 100%;
	border-bottom: 1px solid #333;
}

.header-option-right {
    margin-bottom: 10px;
    text-align: right;
}




a.btn-m {
	display: inline-block;
    font-size: 12px;
    text-indent: 0;
    box-sizing: border-box;
    background-color: #555;
    text-decoration: none;
    padding: 8px; 
    border-radius: 0px;
    border: 1px solid #333;
    color: #ffffff; 
    padding: 10px;
}
a.btn-c {
		display: inline-block;
    font-size: 12px;
    text-indent: 0;
    box-sizing: border-box;
    background-color: #f00000;
    text-decoration: none;
    padding: 8px; 
    border-radius: 0px;
    border: 1px solid #333;
    color: #ffffff; 
    padding: 10px; 
}

a.btn-m:hover{
	background-color:#555;	
}

a.btn-m:active{
	background-color:#444;
}
.rpl_update_y{
	background-color: #1e51a2;
    color: #fff;
    text-align: center;
    transition: 0.2s all;
    font-size: 13px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #333;
    height: 30px;
}

.rpl_update_n{
	background-color: #f00000;
    color: #fff;
    text-align: center;
    transition: 0.2s all;
    font-size: 13px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #333;
    height: 30px;
}
   
 
.detailview-header-left .list-title {
    font-size: 24px;
    color: #040404;
    line-height: 1.33em;
    font-weight: 600;
    padding: 14px 20px 13px;
    margin:0px;	  
}
.list-title{
	font-size: 24px;
    color: #040404;
    line-height: 1.33em;
    font-weight: 600;
    padding: 14px 5px 5px;
    margin:0px;	  
}
}


.detailview-header{
	border-bottom: 1px solid #e0e0e0;
}

.etc {
   margin-bottom: 20px;
   padding: 20px;
   border-bottom: 1px solid #e0e0e0;
   text-align: right;
}
   
.etc .etc-table .etc-dt:first-child {
    margin-left: 0; 
}
 
.etc .etc-table {
    text-align: left;
    font-weight: normal;
    vertical-align: top;
    display: inline-block;
    margin-left: 30px;
    padding-right: 12px; 
}



.etc .etc-data::before {
    color: #E1E2E6;
    content: '|';
    padding-right: 5px;
    margin-left: -8px;
    float: left; 
    
}

.etc .etc-table .etc-dt {
	display: inline-block;
	padding-right: 5px;
}

.etc .etc-table .etc-data {
	display: inline-block;
	padding-right: 5px;
}

.etc .etc-table .etc-user {
	display: inline-block;
	padding-right: 5px; 
	margin-left: 20px;
}

 
.contentsDiv {
	border-bottom: 1px solid #e0e0e0;
	height: 400px; 
	padding: 14px 20px 13px;
	word-break: break-all;
}

.rplbtn{
	text-align: right;
}
.rpl-box { 	
	list-style: none;
	padding: 10px;
  	
	
}
.rplBox{
	border-bottom: 1px solid #e0e0e0;
	padding: 15px;
	
}

.rpl-one{
	list-style: none;
}

.rpltextarea {
	height: 80px;
    width: 400px;
}

.list-brd-top {
	margin: 10px;
	text-align: right;
}

.list-brd-top .cnt{
	display: inline-block; 
	float: left;
	padding-top: 30px;
}


.list-brd-top .write{
	text-align: right;
	margin-top: 6px;
	display: inline-block;
}


/* 고객센터 */
.wait-box{
	border: solid 2px;
    width: 100%;
    height: 20%;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    padding: 100px 0;
    justify-content: center;
}

.brdid{
	text-decoration: none;
}

.brdid:hover{
	text-decoration: underline;
}

