@charset "UTF-8";
body{
	margin: 0px;
	padding: 0px;
}
*{
	color: #333;
	font-size: 12pt;
}
/*Main Layout*/
.main-layout > .header{
	height: 90px;
	padding: 10px;
	position: relative;
}
.bg-black{
	background-color: #555;
}
.main-layout > .header > .nav{
	display: inline-block;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	position: absolute;
	bottom: 10px;
}

.main-layout > .header > .nav > .nav-item,
.main-layout > .header > .nav > .nav-item > a{
	display: inline-block;
	padding: 0px;
	margin: 0px;
	color: #eee;
	text-decoration: none;
}
.main-layout > .header > .nav > .active{
	font-weight: bold;
	color: #ddd;
}
.main-layout > .header > .profile{
	color: #eee;
	position: absolute;
	right: 10px;
	top: 10px;
}
.inline {
	display: inline-block;
}
.main-layout > div > .side-menu{
	width: 150px;
	position: fixed;
	top: 90px;
	bottom: 0px;
}
.main-layout > div > .side-menu > .menu-list{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
} 
.main-layout > div > .side-menu > .menu-list > .menu-item{
	color: #fff;
	padding-top: 10px;
	padding-left: 10px;
}
.main-layout > div > .side-menu > .menu-list > .menu-item:last-child{
	padding-bottom: 10px;
}
.main-layout > div> .content{
	position: fixed;
	top: 90px;
	bottom: 0px;
	left: 150px;
	right: 0px;
	overflow: auto;
	padding: 10px;
}




