@charset "UTF-8";

body {
	margin: 0px;
	padding: 0px;
}

* {
	font-size: 12px;
	color: #333;
}

.fullscreen {
	position: fixed;
	top: 0px;
	botton: 0px;
	left: 0px;
	right: 0px
}

.bg-gray {
	background-color: #ccc;
}

.item-align-center {
	display: flex;
	aling-items: center;
	justify-content: center
}

/* Aligns */
.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

/* Inputs */
.input-group {
	padding: 3px;
}

.input-group>lable {
	display: inline-block;
	width: 60px;
	backgound-color: #F0F0F0;
	padding: 5px;
	width: 300px;
}

.input-group>input {
	border: 1px solid #999;
	border-radius: 3px;
	padding: 5px;
	width: 150px;
	margin: 0px;
}

.input-group>input[disabled] {
	backgound-color: #FFFFF0;
}

.input-group>input[type=checkbox] {
	width: 312px;
	margin: 0px;
}

/* Buttons */
.btn-primary {
	background-color: #8080ff;
	color: #FFF;
	border: none;
	border-radius: 3px;
	font-size: 9pt;
	padding: 5px
}

.btn-delete {
	background-color: #ff0000;
	color: #FFF;
	border: none;
	border-radius: 3px;
	font-size: 9pt;
	padding: 5px
}

.btn-primary:active {
	background-color: #80a2fd;
}

.btn-delete:active {
	background-color: #fe6578;
}

/* Login*/
.login-group {
	border: 1px solid #777;
	border-radius: 2px;
	padding: 3px;
}

.login-group h1 {
	margin: 0px;
	padding: 0px;
	margin-botton: 10px;
}

/* Main Layouts */
.main-layout>div>.content {
	position: fixed;
	top: 90px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: auto;
	padding: 10px;
}

/* Grid */
.content {
	width: 1100px;
	margin: 0 auto;
}

.content>.path {
	padding: 15px;
	background-color: #ffff80;
	margin-bottom: 10px;
}

.content .grid {
	
}

.content .grid>grid-count {
	font-size: 11pt;
}

.content .grid>table {
	border-collapse: collapse;
	border: 1px solid #ddd;
	width: 100%;
}

.content .grid>table>thead>tr {
	background-color: #eee;
}

.content .grid>table>thead>tr>th {
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 5px;
}

.content .grid>table>thead>tr>th:first-child {
	border-left: 0px;
}

.content .grid>table>tbody>tr>td {
	padding: 5px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.content .grid>table>tbody>tr:hover {
	backgrond-color: #fafafa;
}

.content .grid>table>tbody>tr>td:first-child {
	border-left: 0px;
}

.content .grid .no-items {
	text-align: center;
}

.content .grid-detail {
	margin-top: 10px;
}

.content .grid-detail:before {
	content: "상세정보";
	font-size: 13pt;
	font-weight: bold;
}

/* Search */
.search-group {
	dispaly: flex;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #f3f1e6;
}

.search-group .btn-search {
	background-color: #6b8cfe;
	border-radius: 3px;
	border: 0px;
	color: #FFF;
	font-weight: bold;
	font-size: 10pt;
}

.search-group .btn-search:active {
	background-color: #bdccff;
}

.search-group>label {
	dispaly: flex;
}

.search-group .search-input {
	
}

.grow-1 {
	flex-grow: 1;
}

.search-row-group {
	dispaly: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #f3f1e6;
}

.search-row-group .search-group {
	margin-top: 0px;
	margin-bottom: 0px;
}

/* pagenate */
.pagenate {
	dispaly: flex;
	margin_top: 10px;
	justify-content: center;
	align-items: center;
}

.pagenate ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.pagenate ul li {
	display: inline-block;
	margin: 0;
	padding: 5px;
	background-color: #e3e3e3;
}

.pagenate ul li a {
	text-decoration: none;
}

.pagenate ul li a.on {
	font-weight: bold;
}

/* margin */
.mt-10 {
	margin-right: 10px;
}

/* Profile*/
input[type=file] {
	
}

img.profile {
	border-radius: 50px;
	width: 100px;
	height: 100px;
}

.img-box {
	overflow: hidden;
	width: 500px;
	height: 500px;
	background-color: #00f3;
}

.img-box>img {
	position: relative;
	left: 50%;
	width: 500px;
	min-width: 500px;
	height: 400px;
	transform: translateX(-50%);
	object-fit: cover;
}

.evntImgBox {

	display: inline-flex;
	background-color: #F8B500;
	width: 520px;
	margin: 10px;
	padding: 10px;
	flex-direction: column;
	border-radius: 30px;

}

.evntPhoto {
	height: 100px;
	border-radius: 30px;
}

.evntPhoto>.evntTtl {
	font-size: 25pt;
	font-weight: bold;
	text-align: center;
	color: #000;
	background-color: #FED969;
	height: 60px;
	vertical-align: middle;
	line-height: 60px;
	display: block;
   
}

.evntPhoto>.evntDate {
	font-size: 15pt;
	font-weight: bold;
	text-align: center;
	color: #FFF;
	background-color: #BD8957;
	height: 40px;
	vertical-align: middle;
	line-height: 40px;
	display: block;

}

/* 등록 폼 */
.create-group {
	dispaly: flex;
}

.create-group label {
	dispaly: inline-block;
	background-color: #e3e3e3;
	width: 130px;
	padding: 10px;
}

.create-group input {
	margin: 10px;
	flex-grow: 1;
}

.create-group textarea {
	margin: 10px;
	flex-grow: 1;
}

/* tabs */

/*여기부터 */
body {
	margin-top: 100px;
	line-height: 1.6
}

.container {
	width: 500px;
	margin: 0 auto;
}

/*
.tab-content.current{
	display: inherit;
}
*/
ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li {
	background: #F8ECE0;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current {
	background: #FDD86B;
	color: #222;
}

.tab-content {
	display: none;
	background: #eefff2;
	padding: 15px;
}

/*여기까지 */
.nave-tabs ul li a:hover {
	border-color: rgb(214, 241, 207);
	color: #90f383;
}

/* evnt-customer */
.evntPhoto {
	/* 	display: inline-flex; */
	background-color: #3333;
	/* 	width: 320px; */
	/* 	margin:10px; */
	/* 	padding: 10px; */
	/* 	flex-direction: column; */
}

.evnt {
	width: 180px;
	height: 180px;
	background-color: #e6ffff;
}

.name {
	font-size: 24pt;
	font-weight: bold;
}

.price {
	font-size: 16pt;
	text-align: right;
}

/* 손님용 customer */
.headline {
	height: 200px;
	background-color: #0f02;
}

.head-title {
	width: 100%;
	text-align: center;
	text-size: 50pt;
	font-weight: bold;
	background-color: #F5F6CE;
}

.head-content {
	width: 100%;
	text-align: center;
	text-size: 40pt;
	font-weight: bold;
}

.head-count {
	width: 100%;
	text-align: center;
	text-size: 30pt;
	font-weight: bold;
}