@charset "UTF-8";

body {
	margin: 0px;
	padding: 0px;
}

.nt_header {
	background-color: #666;
}

.nt_header > div {
	color: #ccc;
}

table {
	width: 100%;
	border: solid 1px;
	border-collapse: collapse;
}

table > thead > tr > th {
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 5px;
	font-size: 10pt;
}

table > th, td {
	border: solid 1px #333;
}

a {
	text-decoration: none;
	color: #222;
}

a:hover {
	color: #777;
}

.detail_header {
	display: inline-block;
	border: solid 1px #333;
	padding: 2px;
}

textarea {
	width: 70%;
	height: 450px;
	resize: none;
}

.pagenate {
	display: flex;
	margin-top: 10px;
	justify-content: center;
	align-items: center;
}

.pagenate ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.pagenate ul li {
	display: inline-block;
}