@charset "UTF-8";

.odrdtl_grid {
	height: auto;
}

.odrdtl-card {
	margin: 0 auto;
	margin-bottom: 30px;
	background-color: #eee;
	border-radius: 5px;
	width: 85%;
	height: 200px;
	position: relative;
}

.col-sm-3 {
	display: inline-block;
	width: 40%;
	height: 100%;
	border-right: 1px solid #ddd;
	padding-right: 30px;
	position: absolute;
	top: 0px;
}

.odrdtl-img {
	width: 100%;
	height: 100%;
	margin: 10px;
}

.col-sm-7 {
	display: inline-block;
	width: 60%;
	height: 100%;
	position: absolute;
	left: 27%;
}

.padding10-bold {
	padding-left: 10px;
	font-weight: bold;
}

.evntPrdtPrc {
	padding-left: 5px;
}

.delete {
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 10px;
}