@charset "UTF-8";
/* table{
	border: solid 1px #333;
	 
} */
/* table th, td {
	border: solid 1px #333;
} */
.grid{
	border: solid 1px #333;
}
/* label {
	border: solid 1px #333;
} */
form #strdetailmgn_form{
	border: solid 1px #333;
}
form #strdetailmst_form{
	border: solid 1px #333;
}
div.path{
	border: solid 1px #333;
}
div.search_group{
	border: solid 1px #333;
}
div.grid-count.align-right{
	border: solid 1px #333;
}
div.align-right{
	border: solid 1px #333;
}
.grid-strdetailmst {
	background-color: #0002;
}
.grid-strdetailmgn {
	background-color: #0002;
}
.grid-left {
	display: inline-block;
	background-color: #f002;
	width: 300px;
    vertical-align: top;

}
.grid-right {
	display: inline-block;
	background-color: #0f02;
	width : 40%;
}

#strdetailmst_form {
	display: inline-block;
	width : 30%;
	align-items: stretch;
}
#strdetailmgn_form {
	display: inline-block;
	width : 30%;
	align-items: stretch;
}
.input-group .inline{
	display: flex;
}