<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EvntPrdt">

<select id="readAllEvntPrdt"
parameterType="com.ktds.fr.evntprdt.vo.EvntPrdtVO"
	resultType="com.ktds.fr.evntprdt.vo.EvntPrdtVO">

   SELECT EVNT_PRDT_ID
        , EVNT_ID
        , PRDT_ID
        , EVNT_PRDT_CHNG_PRC
        , USE_YN
        , DEL_YN
     FROM EVNT_PRDT
    WHERE 1 = 1
      AND EVNT_ID = #{evntId}
      AND DEL_YN = 'N'
</select>

</mapper>
