<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EvntPrdt">


<insert id="createEvntPrdt"
	parameterType="com.ktds.fr.evntprdt.vo.EvntPrdtVO">

INSERT INTO EVNT_PRDT
 		   (EVNT_PRDT_ID
		  , EVNT_ID
		  , PRDT_ID
		  , EVNT_PRDT_CHNG_PRC
		  , USE_YN
	      , DEL_YN)
		  VALUES
          ('EP-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_EVNT_PRDT_PK.NEXTVAL, 5, '0')
          , #{evntId}
          , #{prdtId}
          , #{evntPrdtChngPrc}
          , NVL(#{useYn},'N') 
          ,'N' )
</insert>




<select id="chkEvntPrdt"
	parameterType="com.ktds.fr.evntprdt.vo.EvntPrdtVO"
	resultType="com.ktds.fr.evntprdt.vo.EvntPrdtVO">
 SELECT *
   FROM (SELECT E.*
   			  , EP.PRDT_ID
   			  , EP.DEL_YN DDEL_YN
	  	   FROM EVNT E
	  	  INNER JOIN EVNT_PRDT EP 
	  	     ON E.EVNT_ID = EP.EVNT_ID 
	 	  WHERE EVNT_STRT_DT BETWEEN (SELECT DISTINCT E.EVNT_STRT_DT 
			                            FROM EVNT E
			                           WHERE E.EVNT_ID = #{evntId})
			                     AND (SELECT DISTINCT E.EVNT_END_DT 
			                            FROM EVNT E
			                           WHERE E.EVNT_ID = #{evntId})
	  	      OR EVNT_END_DT BETWEEN (SELECT DISTINCT E.EVNT_STRT_DT 
			                            FROM EVNT E
			                           WHERE E.EVNT_ID = #{evntId})
			                     AND (SELECT DISTINCT E.EVNT_END_DT 
			                            FROM EVNT E
			                           WHERE E.EVNT_ID = #{evntId})
	UNION ALL 
	   SELECT E.*
	   		, EP.PRDT_ID
	   		, EP.DEL_YN DDEL_YN
	     FROM EVNT E
	     LEFT JOIN EVNT_PRDT EP
	       ON E.EVNT_ID = EP.EVNT_ID 
	    WHERE EVNT_END_DT >= (SELECT E.EVNT_END_DT 
	                            FROM EVNT E
	                           WHERE E.EVNT_ID = #{evntId})
	      AND (SELECT E.EVNT_STRT_DT 
                 FROM EVNT E
                WHERE E.EVNT_ID = #{evntId}) >= EVNT_STRT_DT  )EP
   WHERE EP.PRDT_ID = #{prdtId}
     AND EP.DDEL_YN = 'N'
</select>




<select id="readAllEvntPrdt"
parameterType="com.ktds.fr.evntprdt.vo.EvntPrdtVO"
	resultType="com.ktds.fr.evntprdt.vo.EvntPrdtVO">
   SELECT E.EVNT_PRDT_ID
        , E.EVNT_ID
        , E.PRDT_ID
        , P.PRDT_NM 
        , P.PRDT_PRC 
        , E.EVNT_PRDT_CHNG_PRC
        , E.USE_YN
        , E.DEL_YN
     FROM EVNT_PRDT E
     LEFT OUTER JOIN PRDT P 
       ON E.PRDT_ID = P.PRDT_ID
    WHERE E.EVNT_ID = #{evntId}
      AND E.DEL_YN = 'N'
</select>

<select id="readAllprdt"
 parameterType="com.ktds.fr.evntprdt.vo.EvntPrdtVO"
	 resultType="com.ktds.fr.evntprdt.vo.EvntPrdtVO">
   SELECT PRDT_ID
        , PRDT_NM 
        , PRDT_PRC 
        , USE_YN
        , DEL_YN
     FROM PRDT 
    WHERE DEL_YN = 'N'
    
    
</select>


<update id="deleteEvntPrdtListByEvntId"
parameterType="arraylist">
	UPDATE EVNT_PRDT
       SET USE_YN = 'N'
		 , DEL_YN = 'Y'
	 WHERE EVNT_PRDT_ID IN
	 <foreach collection="list" item="evntPrdtId" open="(" close=")" separator=", ">
		 #{evntPrdtId}
	</foreach>	
</update>


</mapper>
