<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LgnHist">
	<insert id="createMbrLgnHist"
			parameterType="com.ktds.fr.lgnhist.vo.LgnHistVO">
		INSERT INTO FRAN.LGN_HIST
			 ( LGN_HIST_ID
			 , MBR_ID
			 , LGN_HIST_ACTN
			 , LGN_HIST_DT
			 , LGN_HIST_IP)
		VALUES
			 ( 'LH-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_LGN_HIST_PK.NEXTVAL, 5, '0')
			 , #{mbrId}
			 , #{lgnHistActn}
			 , SYSDATE
			 , #{lgnHistIp})		
	</insert>
	
	<select id="readMbrLgnHist"
			parameterType="string"
			resultType="com.ktds.fr.lgnhist.vo.LgnHistVO">
		SELECT LH.MBR_ID
			 , LH.LGN_HIST_ACTN
			 , LH.LGN_HIST_IP
			 , LH.LGN_HIST_DT
			 , M.MBR_LGN_BLCK_YN
			 , M.MBR_LVL
			 , M.MBR_NM
			 , M.DEL_YN
		  FROM LGN_HIST LH
		 INNER JOIN MBR M
		 	ON M.MBR_ID = LH.MBR_ID
		 WHERE LH.MBR_ID = #{_parameter}
	</select>
</mapper>
