<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LgnHist">
	<insert id="createMbrLgnHist"
			parameterType="com.ktds.fr.lgnhist.vo.LgnHistVO">
		INSERT INTO FRAN.LGN_HIST
			 ( LGN_HIST_ID
			 , MBR_ID
			 , LGN_HIST_ACTN
			 , LGN_HIST_DT
			 , LGN_HIST_IP)
		VALUES
			 ( 'LH-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_LGN_HIST_PK.NEXTVAL, 5, '0')
			 , #{mbrId}
			 , #{lgnHistActn}
			 , SYSDATE
			 , #{lgnHistIp})		
	</insert>
	
	<resultMap id="LgnHistMap" type="com.ktds.fr.lgnhist.vo.LgnHistVO" autoMapping="true">
		<id property="lgnHistId" column="LGN_HIST_ID" />
		<association property="mbrVO" 
					 javaType="com.ktds.fr.mbr.vo.MbrVO"
					 autoMapping="true">
				<id property="mbrId" column="MBR_ID" />
		</association>

	</resultMap>
	
	<select id="readMbrLgnHist"
			parameterType="com.ktds.fr.lgnhist.vo.LgnHistVO"
			resultMap="LgnHistMap">
		SELECT LH.LGN_HIST_ID
			 , LH.MBR_ID
			 , LH.LGN_HIST_ACTN
			 , LH.LGN_HIST_IP
			 , TO_CHAR(LH.LGN_HIST_DT, 'YYYY-MM-DD HH24:MI:SS') LGN_HIST_DT
			 , M.MBR_LGN_BLCK_YN
			 , M.MBR_LVL
			 , M.MBR_NM
			 , M.DEL_YN
			 , CD.CD_NM
		  FROM LGN_HIST LH
		 INNER JOIN MBR M
		 	ON M.MBR_ID = LH.MBR_ID
		 INNER JOIN CMMN_CD CD
		 	ON CD.CD_ID = M.MBR_LVL
		 WHERE LH.MBR_ID = #{mbrId}
		   AND LH.LGN_HIST_DT >= TO_DATE(#{startDt} || ' 00:00:00', 'YYYY-MM-DD HH24:MI:SS')
		   AND LH.LGN_HIST_DT <![CDATA[<=]]> TO_DATE(#{endDt} || ' 23:59:59', 'YYYY-MM-DD HH24:MI:SS')
		 ORDER BY LH.LGN_HIST_DT DESC
	</select>
</mapper>
