<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OdrLst">
	
	<resultMap id="odrLstMap"
				type="com.ktds.fr.odrlst.vo.OdrLstVO"
				autoMapping="true">
		<id property="odrLstId" column="ODR_LST_ID" />
		<association property="strVO"
		              javaType="com.ktds.fr.str.vo.StrVO" >
			<id property="strId" column="STR_ID" />
			<result property="strNm" column="STR_NM" />
		</association>
	</resultMap>
	
	<select id="checkRemainOdrLst"
			parameterType="string"
			resultType="_int">
		SELECT COUNT(1)
		  FROM ODR_LST
		 WHERE MBR_ID = #{_parameter}
		   AND ODR_LST_ODR_PRCS = '003-01'
	</select>
	
	<select id="getOdrLstId"
			parameterType="string"
			resultType="com.ktds.fr.odrlst.vo.OdrLstVO">
		SELECT ODR_LST_ID 
		  FROM ODR_LST
		 WHERE MBR_ID = #{_parameter}
		   AND ODR_LST_ODR_PRCS = '003-01'
	</select>
	
	<insert id="createNewOdrLst"
			parameterType="com.ktds.fr.odrlst.vo.OdrLstVO">
		INSERT INTO ODR_LST
		 (ODR_LST_ID
		, MBR_ID
		, ODR_LST_ODR_PRCS
		, ODR_LST_RGST_DT
		, ODR_LST_RGSTR
		, MDFY_DT
		, MDFYR
		, USE_YN
		, DEL_YN
		, STR_ID)
		VALUES
		 ('OL-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_ODR_LST_PK.NEXTVAL, 5, '0')
		, #{mbrId}
		, '003-01'
		, SYSDATE
		, #{mbrId}
		, SYSDATE
		, #{mbrId}
		, 'Y'
		, 'N'
		, #{odrDtlStrId})
	</insert>
	
	<select id="readAllOdrLst"
			parameterType="com.ktds.fr.odrlst.vo.OdrLstVO"
			resultMap="odrLstMap">
		<include refid="Common.pageHeader" />
		SELECT ROWNUM RNUM
		     , ROWNUM PK_COL
		     , E.*
		  FROM (SELECT OL.ODR_LST_ID
				     , OL.MBR_ID
				     , OL.ODR_LST_ODR_PRCS
				     , TO_CHAR(OL.ODR_LST_RGST_DT, 'YYYY-MM-DD HH24:MI:SS') ODR_LST_RGST_DT
				     , OL.ODR_LST_RGSTR
				     , TO_CHAR(OL.MDFY_DT, 'YYYY-MM-DD HH24:MI:SS') MDFY_DT
				     , OL.MDFYR
				     , OL.STR_ID
				     , S.STR_NM
				  FROM ODR_LST OL
				 INNER JOIN STR S
				    ON OL.STR_ID = S.STR_ID
				 ORDER BY ODR_LST_RGST_DT DESC) E
		<include refid="Common.pageFooter" />
	</select>
	
	<select id="readAllMyOdrLst"
			parameterType="com.ktds.fr.odrlst.vo.OdrLstVO"
			resultMap="odrLstMap">
		<include refid="Common.pageHeader" />
		SELECT ROWNUM RNUM
		     , ROWNUM PK_COL
		     , E.*
		  FROM (SELECT OL.ODR_LST_ID
				     , OL.MBR_ID
				     , OL.ODR_LST_ODR_PRCS
				     , TO_CHAR(OL.ODR_LST_RGST_DT, 'YYYY-MM-DD HH24:MI:SS') ODR_LST_RGST_DT
				     , OL.ODR_LST_RGSTR
				     , TO_CHAR(OL.MDFY_DT, 'YYYY-MM-DD HH24:MI:SS') MDFY_DT
				     , OL.MDFYR
				     , OL.STR_ID
				     , S.STR_NM
				  FROM ODR_LST OL
				 INNER JOIN STR S
				    ON OL.STR_ID = S.STR_ID
				 WHERE OL.MBR_ID = #{mbrId}
				 ORDER BY ODR_LST_RGST_DT DESC) E
		<include refid="Common.pageFooter" />
	</select>
	
	<select id="readOneOdrLstByOdrLstId"
			parameterType="string"
			resultType="com.ktds.fr.odrlst.vo.OdrLstVO">
		SELECT ODR_LST_ID
		     , MBR_ID
		     , ODR_LST_ODR_PRCS
		     , TO_CHAR(ODR_LST_RGST_DT, 'YYYY-MM-DD HH24:MI:SS') ODR_LST_RGST_DT
		     , ODR_LST_RGSTR
		     , TO_CHAR(MDFY_DT, 'YYYY-MM-DD HH24:MI:SS') MDFY_DT
		     , MDFYR
		     , USE_YN
		     , DEL_YN
		     , STR_ID
		  FROM FRAN.ODR_LST
		 WHERE ODR_LST_ID = #{_parameter}
	</select>
	
	<update id="updateOneOdrLstByOdrLstId"
			parameterType="com.ktds.fr.odrlst.vo.OdrLstVO">
		UPDATE ODR_LST
		   SET ODR_LST_ODR_PRCS = #{odrLstOdrPrcs}
		     , MDFY_DT = SYSDATE
		     , MDFYR = #{mdfyr}
		 WHERE ODR_LST_ID = #{odrLstId}
	</update>
	
	<update id="deleteOneOdrLstByOdrLstId"
			parameterType="com.ktds.fr.odrlst.vo.OdrLstVO">
		UPDATE ODR_LST
		   SET DEL_YN = 'Y'
		     , MDFY_DT = SYSDATE
		     , MDFYR = #{mdfyr}
		 WHERE ODR_LST_ID = #{odrLstId}
	</update>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	



</mapper>
