<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OdrDtl">

	<insert id="createNewOdrDtl"
			parameterType="com.ktds.fr.odrdtl.vo.OdrDtlVO">
		INSERT INTO FRAN.ODR_DTL
		 (ODR_DTL_ID
		, ODR_LST_ID
		, ODR_DTL_PRDT_ID
		, ODR_DTL_PRDT_CNT
		, ODR_DTL_STR_ID
		, USE_YN
		, DEL_YN
		, MBR_ID)
		VALUES
		 ('OD-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_ODR_DTL_PK.NEXTVAL, 5, '0')
		, NULL
		, #{odrDtlPrdtId}
		, #{odrDtlPrdtCnt}
		, #{odrDtlStrId}
		, 'Y'
		, 'N'
		, #{mbrId})
	</insert>
	
	<select id="readOneOdrDtlByOdrDtlId"
			parameterType="string"
			resultType="com.ktds.fr.odrdtl.vo.OdrDtlVO">
		SELECT ODR_DTL_ID
			 , ODR_LST_ID
			 , ODR_DTL_PRDT_ID
			 , ODR_DTL_PRDT_CNT
			 , ODR_DTL_STR_ID
			 , USE_YN
			 , DEL_YN
			 , MBR_ID
		  FROM ODR_DTL
		 WHERE ODR_DTL_ID = #{_parameter}
		   AND DEL_YN = 'N'
	</select>
	
	<update id="updateOneOdrDtlByOdrDtlId"
			parameterType="string">
		UPDATE ODR_DTL
		   SET ODR_DTL_PRDT_CNT = #{odrDtlPrdtCnt}
		 WHERE ODR_DTL_ID = #{odrDtlId}
	</update>
	
	<update id="deleteOneOdrDtlByOdrDtlId"
			parameterType="string">
		UPDATE ODR_DTL
		   SET DEL_YN = 'Y'
		 WHERE ODR_DTL_ID = #{odrDtlId}
	</update>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	



</mapper>
