<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MngrBrd">

<!--	<resultMap id="brdMap" 
			   type="com.ktds.fr.mngrbrd.vo.MngrBrdVO"  
			   autoMapping="true">
		
		<association property="MbrVO"
			javaType="com.ktds.fr.mbr.vo.MbrVO" 
			autoMapping="true">
			<id property="mbrId" column="MBR_ID"/>			 
		</association>
 		<collection property="replyList"
					ofType="com.ktds.fr.rpl.vo.RplVO"
					autoMapping="true">
			<id property="rplId" column="RPL_ID"/>
			<result property="mbrId" column="R_MBR_ID"/>
			<result property="rplWrtDt" column="R_RPL_WRT_DT"/>
			<result property="mdfyDt" column="R_MDFY_DT"/>	
			
			<association property="mbrVO"
						 javaType="com.ktds.fr.mbr.vo.MbrVO"
						 autoMapping="true">			 
				<id property ="mbrId" column="R_MBR_ID"/>
				<result property="mbrNm" column="R_NM"/>						 
			</association>
		</collection>  
	</resultMap>-->
	
	
		<select id="readAllMngrBrds"
			resultType="com.ktds.fr.mngrbrd.vo.MngrBrdVO">
			SELECT B.MNGR_BRD_ID
		     , B.MNGR_BRD_TTL
		     , B.MNGR_BRD_CNTNT
		     , B.MNGR_ID
		     , TO_CHAR(B.MNGR_BRD_WRT_DT ,'YYYY-MM-DD HH24:MI:SS') MNGR_BRD_WRT_DT
		     , TO_CHAR(B.MDFY_DT,'YYYY-MM-DD HH24:MI:SS') MDFY_DT
		     , B.MDFYR
		     , B.USE_YN
		     , B.DEL_YN
		     , B.NTC_YN
		     , M.MBR_ID
		     , M.MBR_NM
          FROM FRAN.MNGR_BRD B
         INNER JOIN MBR M 
            ON B.MNGR_ID = M.MBR_ID
         WHERE B.DEL_YN ='N'
           AND NTC_YN ='Y' 
         ORDER BY B.MDFY_DT DESC

         
	</select>
	
	
	<select id="readOneMngrBrdByMngrBrdId"
			parameterType="string"
			resultType="com.ktds.fr.mngrbrd.vo.MngrBrdVO">
		SELECT B.MNGR_BRD_ID
		     , B.MNGR_BRD_TTL
		     , B.MNGR_BRD_CNTNT
		     , B.MNGR_ID
		     , TO_CHAR(B.MNGR_BRD_WRT_DT ,'YYYY-MM-DD HH24:MI:SS') MNGR_BRD_WRT_DT
		     , TO_CHAR(B.MDFY_DT,'YYYY-MM-DD HH24:MI:SS') MDFY_DT
		     , B.MDFYR
		     , B.USE_YN
		     , B.DEL_YN
		     , M.MBR_ID
		     , M.MBR_NM
          FROM FRAN.MNGR_BRD B
         INNER JOIN MBR M 
            ON B.MNGR_ID = M.MBR_ID
         WHERE MNGR_BRD_ID =#{_parameter}
		
	</select>


	<insert id="createNewMngrBrd"
			parameterType="com.ktds.fr.mngrbrd.vo.MngrBrdVO">
		<selectKey keyProperty="mngrBrdId" 
				   resultType="string"
				   order="BEFORE">
			SELECT 'BR-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_MNGR_BRD_PK.NEXTVAL, 5, '0')
			  FROM DUAL
		</selectKey>		
			
		INSERT INTO FRAN.MNGR_BRD
         (MNGR_BRD_ID
        , MNGR_BRD_TTL
        , MNGR_BRD_CNTNT
        , MNGR_ID
        , MNGR_BRD_WRT_DT
        , MDFY_DT
        , MDFYR
        , USE_YN
        , DEL_YN
        , NTC_YN)
        VALUES
         (#{mngrBrdId}
        , #{mngrBrdTtl}
        , #{mngrBrdCntnt}
        , #{mngrId}
        , SYSDATE
        , SYSDATE
        , #{mdfyr}
        , NVL(#{useYn},'N')  
        , 'N'
        , NVL(#{ntcYn},'N'))	
	</insert>

	<update id="updateOneMngrBrd"
			parameterType="com.ktds.fr.mngrbrd.vo.MngrBrdVO">
		UPDATE FRAN.MNGR_BRD
           SET MNGR_BRD_TTL = #{mngrBrdTtl}
             , MNGR_BRD_CNTNT = #{mngrBrdCntnt}      
             , MDFY_DT = SYSDATE
             , MDFYR = #{mdfyr}
             , USE_YN = NVL(#{useYn},'N')
             , NTC_YN = NVL(#{ntcYn},'N')
		 WHERE MNGR_BRD_ID = #{mngrBrdId}
	</update>
	

	<update id="deleteOneMngrBrd"
			parameterType="string">
	    UPDATE FRAN.MNGR_BRD
           SET DEL_YN='Y' 
		 WHERE MNGR_BRD_ID = #{_parameter}	
	</update>
	
	<update id="deleteMngrBrdBySelectedMngrBrdId"
			parameterType="arrayList">
			UPDATE FRAN.MNGR_BRD
			   SET DEL_YN='Y'
			 WHERE MNGR_BRD_ID IN
			 	<foreach collection="list" item="mngrBrdId" open="(" close=")" separator=", ">
				#{mngrBrdId}
			</foreach>
		
		
	</update>

</mapper>
