<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HlpDsk">
	
	<resultMap id="hlpDskMap" 
			   type="com.ktds.fr.hlpdsk.vo.HlpDskVO"
			   autoMapping="true">
		<id property="hlpDskWrtId" column="HLP_DSK_WRT_ID"/>
		<association property="mbrVO"
					 javaType="com.ktds.fr.mbr.vo.MbrVO">
			<id property="mbrId" column="MBR_ID"/>
			<result property="mbrNm" column="MBR_NM"/>
		</association>
		<association property="mstrVO"
					 javaType="com.ktds.fr.mbr.vo.MbrVO">
			<id property="mbrId" column="MBR_ID"/>
			<result property="mbrNm" column="MSTR_NM"/>
		</association>
		
	</resultMap>
	<select id="readAllHlpDsks"
			parameterType="com.ktds.fr.hlpdsk.vo.HlpDskVO"
			resultMap="hlpDskMap">
		<include refid ="Common.pageHeader"/>
		SELECT H.HLP_DSK_WRT_ID PK_COL
		     , DENSE_RANK() OVER(ORDER BY H.HLP_DSK_WRT_DT DESC ) RNUM 
		     , H.HLP_DSK_WRT_ID
		     , H.HLP_DSK_SBJCT
		     , H.HLP_DSK_TTL
		     , H.HLP_DSK_CNTNT
		     , H.MBR_ID  
		     ,CASE 
		     	WHEN ((H.HLP_DSK_WRT_DT+1) - SYSDATE) > 0  THEN
		     	  TO_CHAR(H.HLP_DSK_WRT_DT  ,'YYYY-MM-DD HH24:MI:SS') 
		        ELSE 
		          TO_CHAR(H.HLP_DSK_WRT_DT  ,'YYYY-MM-DD')    	
		     	END HLP_DSK_WRT_DT
		     , H.MSTR_ID   
		     , H.HLP_DSK_PRCS_YN
		     , H.HLP_DSK_PRCS_DT
		     , H.USE_YN
		     , H.DEL_YN
		     , H.HLP_OK_CNTNT
		 	 , M.MBR_NM MBR_NM
		     , RM.MBR_NM MSTR_NM
		  FROM FRAN.HLP_DSK H
		INNER JOIN MBR M
		    ON H.MBR_ID = M.MBR_ID
		  LEFT OUTER JOIN MBR RM
		    ON H.MSTR_ID = RM.MBR_ID
		 WHERE H.DEL_YN='N'
		<if test= 'hlpDskTtl != null and hlpDskTtl != "" '>
           AND H.HLP_DSK_TTL LIKE '%' ||  #{hlpDskTtl} || '%'
         </if>
         <if test= 'hlpDskCntnt != null and hlpDskCntnt != "" '>
           AND  H.HLP_DSK_CNTNT LIKE '%' ||  #{hlpDskCntnt} || '%'
         </if> 
         <if test= 'mbrVO != null and mbrVO.mbrNm != null and mbrVO.mbrNm != "" '>
           AND  M.MBR_NM LIKE '%' ||  #{mbrVO.mbrNm} || '%'
         </if>  
         <if test= 'hlpDskPrcsYn != null and hlpDskPrcsYn != "" '>
          AND H.HLP_DSK_PRCS_YN = #{hlpDskPrcsYn}
         </if> 
		ORDER BY H.HLP_DSK_WRT_DT DESC 
		<include refid="Common.pageFooter" />	
	</select>
	
	<select id="readAllMyHlpDsks"
			parameterType="com.ktds.fr.hlpdsk.vo.HlpDskVO"
			resultMap="hlpDskMap">
		<include refid ="Common.pageHeader"/>
		SELECT H.HLP_DSK_WRT_ID PK_COL
		     , DENSE_RANK() OVER(ORDER BY H.HLP_DSK_WRT_DT DESC ) RNUM 
		     , H.HLP_DSK_WRT_ID
		     , H.HLP_DSK_SBJCT
		     , H.HLP_DSK_TTL
		     , H.HLP_DSK_CNTNT
		     , H.MBR_ID  
		     , H.HLP_DSK_WRT_DT
		     , H.MSTR_ID   
		     , H.HLP_DSK_PRCS_YN
		     , H.HLP_DSK_PRCS_DT
		     , H.USE_YN
		     , H.DEL_YN
		     , H.HLP_OK_CNTNT
		 	 , M.MBR_NM MBR_NM
		     , RM.MBR_NM MSTR_NM
		  FROM FRAN.HLP_DSK H
		INNER JOIN MBR M
		    ON H.MBR_ID = M.MBR_ID
		  LEFT OUTER JOIN MBR RM
		    ON H.MSTR_ID = RM.MBR_ID
		 WHERE H.MBR_ID  = #{mbrId}
		   AND H.DEL_YN='N'
		ORDER BY H.HLP_DSK_WRT_DT DESC 
		<include refid="Common.pageFooter" />	
	</select>
	
	<select id="readOneHlpDskByHlpDskId"
			parameterType="string"
			resultMap="hlpDskMap">
		SELECT H.HLP_DSK_WRT_ID
		     , H.HLP_DSK_SBJCT
		     , H.HLP_DSK_TTL
		     , H.HLP_DSK_CNTNT
		     , H.MBR_ID
		     , H.HLP_DSK_WRT_DT
		     , H.MSTR_ID
		     , H.HLP_DSK_PRCS_YN
		     , H.HLP_DSK_PRCS_DT
		     , H.USE_YN
		     , H.DEL_YN
		     , H.HLP_OK_CNTNT
			 , M.MBR_NM MBR_NM
		     , RM.MBR_NM MSTR_NM
		  FROM FRAN.HLP_DSK H
		 INNER JOIN MBR M
		    ON H.MBR_ID = M.MBR_ID
		  LEFT OUTER JOIN MBR RM
		    ON H.MSTR_ID = RM.MBR_ID	
		 WHERE H.HLP_DSK_WRT_ID = #{_parameter}
	</select>
	
	
	<insert id="createNewHlpDsk"
			parameterType="com.ktds.fr.hlpdsk.vo.HlpDskVO">
		<selectKey keyProperty="hlpDskWrtId" 
				   resultType="string"
				   order="BEFORE">
			SELECT 'HD-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_HLP_DSK_PK.NEXTVAL, 5, '0')
			  FROM DUAL
		</selectKey>	
		INSERT INTO FRAN.HLP_DSK
         (HLP_DSK_WRT_ID
        , HLP_DSK_SBJCT
        , HLP_DSK_TTL
        , HLP_DSK_CNTNT
        , MBR_ID
        , HLP_DSK_WRT_DT
        , MSTR_ID
        , HLP_DSK_PRCS_YN
        , HLP_DSK_PRCS_DT
        , USE_YN
        , DEL_YN
        , HLP_OK_CNTNT)
        VALUES
         (#{hlpDskWrtId}
        , #{hlpDskSbjct}
        , #{hlpDskTtl}
        , #{hlpDskCntnt}
        , #{mbrId}
        , SYSDATE
        , #{mstrId}
        , 'N'
        , NULL
        , 'Y'
        , 'N'
        , NULL)
	</insert>

	<update id="updateNewHlpDsk"
			parameterType="com.ktds.fr.hlpdsk.vo.HlpDskVO">
		UPDATE FRAN.HLP_DSK
		   SET HLP_DSK_PRCS_YN = 'Y'
		     , HLP_DSK_PRCS_DT = SYSDATE
		     , MSTR_ID = #{mstrId}
		     , HLP_OK_CNTNT =#{hlpOkCntnt}
		 WHERE HLP_DSK_WRT_ID = #{hlpDskWrtId}
	</update>


	<update id="deleteOneHlpDsk"
			parameterType="string">
		UPDATE FRAN.HLP_DSK
		   SET DEL_YN='Y' 
		 WHERE HLP_DSK_WRT_ID = #{_hlpDskWrtId}
	</update>
	
	<update id="deleteHlpDskBySelectedHlpDskId"
			parameterType="arraylist">
		UPDATE FRAN.HLP_DSK
		   SET DEL_YN='Y'
		 WHERE HLP_DSK_WRT_ID IN 
		 	<foreach collection="list" item="hlpDskWrtId" open="(" close=")" separator=", ">
			#{hlpDskWrtId}
		</foreach>
	</update>

</mapper>
