<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Str">

	<resultMap id="strVOMap" 
				type="com.ktds.fr.str.vo.StrVO"
				autoMapping="true">
		<id property="strId" column="STR_ID"/>
		<association property="lctCdVO"
					  javaType="com.ktds.fr.lctcd.vo.LctCdVO">
			<id property="lctId" column="STR_LCTN"/>
			<result property="lctNm" column="LCT_NM"/>
		</association>
		<association property="ctyCdVO"
					  javaType="com.ktds.fr.ctycd.vo.CtyCdVO">
			<id property="ctyId" column="STR_CTY"/>
			<result property="ctyNm" column="CTY_NM"/>
		</association>
	</resultMap>



	<select id="readAllStrMaster"
			parameterType="com.ktds.fr.str.vo.StrVO"
			resultMap="strVOMap">
			<include refid="Common.pageHeader"/>
		SELECT S.STR_ID PK_COL
			 , DENSE_RANK() OVER(ORDER BY S.STR_ID DESC) RNUM
 			 , S.STR_ID
			 , S.STR_NM
			 , S.STR_LCTN
			 , L.LCT_NM 
			 , S.STR_CTY
			 , C.CTY_NM
			 , S.STR_ADDR
			 , S.STR_CALL_NUM
			 , S.MBR_ID
			 , TO_CHAR(S.STR_OPN_TM, 'HH24:MI:SS') STR_OPN_TM
			 , TO_CHAR(S.STR_CLS_TM, 'HH24:MI:SS') STR_CLS_TM
			 , S.STR_RGSTR
			 , TO_CHAR(S.STR_RGST_DT, 'YYYY-MM-DD') STR_RGST_DT
			 , S.MDFYR
			 , TO_CHAR(S.MDFY_DT, 'YYYY-MM-DD') MDFY_DT
			 , S.USE_YN
			 , S.DEL_YN
		  FROM STR S
		  LEFT JOIN MBR M	
		    ON S.MBR_ID = M.MBR_ID
		  LEFT JOIN LCT_CD L
		  	ON S.STR_LCTN = L.LCT_ID
		  LEFT JOIN CTY_CD C 
		  	ON S.STR_CTY = C.CTY_ID
		 WHERE S.DEL_YN = 'N'
		<if test='strNm != null and strNm != ""'>
		   AND S.STR_NM LIKE '%' || #{strNm} || '%'
		</if>

		<if test='strId != null and strId != ""'>
		   AND S.STR_ID = #{strId}
		</if>
		
		<if test='mbrId != null and mbrId != ""'>
		   AND S.MBR_ID LIKE '%' || #{mbrId} || '%'
		</if>
		
		<if test='strLctn != null and strLctn != ""'>
		   AND S.STR_LCTN = #{strLctn}
		</if>
		<if test='strCty != null and strCty != ""'>
		   AND S.STR_CTY = #{strCty}
		</if>
		 ORDER BY S.STR_NM ASC
		 <include refid="Common.pageFooter"/>
	</select>
	
	<select id="readBlockStrNm"
			parameterType="string"
			resultType="_int">
		SELECT COUNT(1)
		  FROM STR
		 WHERE STR_NM = #{_parameter}
	</select>
	
	<select id="readBlockStrAddr"
			parameterType="string"
			resultType="_int">
		SELECT COUNT(1)
		  FROM STR
		 WHERE STR_ADDR = #{_parameter}
	</select>
	
	<select id="readBlockStrCallNum"
			parameterType="string"
			resultType="_int">
		SELECT COUNT(1)
		  FROM STR
		 WHERE STR_CALL_NUM = #{_parameter}
	</select>
	
	<select id="readOneStrByMaster"
			parameterType="string"
			resultType="com.ktds.fr.str.vo.StrVO">
		SELECT S.STR_ID
			 , S.STR_NM
			 , S.STR_LCTN
			 , L.LCT_NM 
			 , S.STR_CTY
			 , C.CTY_NM
			 , S.STR_ADDR
			 , S.STR_CALL_NUM
			 , S.MBR_ID
			 , TO_CHAR(S.STR_OPN_TM, 'HH24:MI:SS') STR_OPN_TM
			 , TO_CHAR(S.STR_CLS_TM, 'HH24:MI:SS') STR_CLS_TM
			 , S.STR_RGSTR
			 , TO_CHAR(S.STR_RGST_DT, 'YYYY-MM-DD') STR_RGST_DT
			 , S.MDFYR
			 , TO_CHAR(S.MDFY_DT, 'YYYY-MM-DD') MDFY_DT
			 , S.USE_YN
			 , S.DEL_YN
		  FROM STR S
		  LEFT JOIN MBR M	
		    ON S.MBR_ID = M.MBR_ID
		  LEFT JOIN LCT_CD L
		  	ON S.STR_LCTN = L.LCT_ID
		  LEFT JOIN CTY_CD C 
		  	ON S.STR_CTY = C.CTY_ID
		 WHERE S.STR_ID= #{_parameter}
		 ORDER BY S.STR_ID ASC
	</select>
	
	<select id="readBlockStrByMan"
			parameterType="string"
			resultType="_int">
		SELECT COUNT(1)
		  FROM STR
		 WHERE STR_ID= #{_parameter}
		 
	</select>
	
	<select id="readOneStrByManager"
			parameterType="string"
			resultType="com.ktds.fr.str.vo.StrVO">
		SELECT S.STR_ID
			 , S.STR_NM
			 , S.STR_LCTN
			 , L.LCT_NM 
			 , S.STR_CTY
			 , C.CTY_NM
			 , S.STR_ADDR
			 , S.STR_CALL_NUM
			 , S.MBR_ID
			 , TO_CHAR(S.STR_OPN_TM, 'HH24:MI:SS') STR_OPN_TM
			 , TO_CHAR(S.STR_CLS_TM, 'HH24:MI:SS') STR_CLS_TM
			 , S.STR_RGSTR
			 , TO_CHAR(S.STR_RGST_DT, 'YYYY-MM-DD') STR_RGST_DT
			 , S.MDFYR
			 , TO_CHAR(S.MDFY_DT, 'YYYY-MM-DD') MDFY_DT
			 , S.USE_YN
			 , S.DEL_YN
		  FROM STR S
		  LEFT JOIN MBR M	
		    ON S.MBR_ID = M.MBR_ID
		  LEFT JOIN LCT_CD L
		  	ON S.STR_LCTN = L.LCT_ID
		  LEFT JOIN CTY_CD C 
		  	ON S.STR_CTY = C.CTY_ID
		 WHERE S.STR_ID= #{_parameter}
		 ORDER BY S.STR_ID ASC
	</select>
	
	<insert id="createOneStr"
			parameterType="com.ktds.fr.str.vo.StrVO">
		INSERT INTO STR
			 (STR_ID
			 , STR_NM
			 , STR_LCTN
			 , LCT_NM 
			 , STR_CTY
			 , CTY_NM
			 , STR_ADDR
			 , STR_CALL_NUM
			 , MBR_ID
			 , STR_OPN_TM
			 , STR_CLS_TM
			 , STR_RGSTR
			 , STR_RGST_DT
			 , MDFYR
			 , MDFY_DT
			 , USE_YN
			 , DEL_YN)
		VALUES
			   ('ST-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_STR_PK.NEXTVAL, 5, '0')
			 , #{strNm}
			 , #{strLctn}
			 , #{lctNm}
			 , #{strCty}
			 , #{ctyNm}
			 , #{strAddr}
			 , #{strCallNum}
			 , #{mbrId}
			 , TO_DATE(#{strOpnTm}, 'HH24:MI:SS')
			 , TO_DATE(#{strClsTm}, 'HH24:MI:SS')
			 , #{strRgstr}
			 , SYSDATE
			 , #{mdfyr}
			 , SYSDATE
			 , NVL(#{useYn}, 'N')
			 , 'N' )
	</insert>
	
	<update id="updateOneStrByMaster"
			parameterType="com.ktds.fr.str.vo.StrVO">
			UPDATE STR
			   SET STR_NM=#{strNm}
				 , STR_LCTN=#{strLctn}
				 , STR_CTY=#{strCty}
				 , STR_ADDR=#{strAddr}
				 , STR_CALL_NUM=#{strCallNum}
				 , MBR_ID=#{mbrId}
				 , STR_OPN_TM =TO_DATE(#{strOpnTm}, 'HH24:MI:SS')
			 	 , STR_CLS_TM =TO_DATE(#{strClsTm}, 'HH24:MI:SS')
				 , STR_RGSTR=#{strRgstr}
			 	 , STR_RGST_DT=SYSDATE
				 , MDFYR=#{mdfyr}
				 , MDFY_DT=SYSDATE
				 , USE_YN= NVL(#{useYn}, 'N')
			 WHERE STR_ID=#{strId}
			
	</update>
	<update id="updateOneStrByManager"
			parameterType="com.ktds.fr.str.vo.StrVO">
			UPDATE STR
			   SET STR_NM=#{strNm}
				 , STR_CALL_NUM=#{strCallNum}
				 , TO_DATE(STR_OPN_TM, 'HH24:MI:SS') STR_OPN_TM
			 	 , TO_DATE(STR_CLS_TM, 'HH24:MI:SS') STR_CLS_TM
			 	 , STR_RGSTR=#{strRgstr}
			 	 , STR_RGST_DT=SYSDATE
				 , MDFYR=#{mdfyr}
				 , MDFY_DT=SYSDATE
				 , USE_YN= NVL(#{useYn}, 'N')
			 WHERE STR_ID=#{strId}
	</update>
	<update id="deleteOneStrByStrId"
			parameterType="string">
			UPDATE STR
			   SET DEL_YN = 'Y' 
			 WHERE STR_ID = #{_parameter}
			
	</update>
	
	<!-- 회원 기능과 연동 -->
	<select id="readAllStrNoPagenate"
			parameterType="com.ktds.fr.str.vo.StrVO"
			resultType="com.ktds.fr.str.vo.StrVO">
		SELECT S.STR_ID
			 , S.STR_NM
			 , S.STR_ADDR
			 , S.STR_CALL_NUM
			 , S.MBR_ID
			 , TO_CHAR(S.STR_OPN_TM, 'HH24:MI:SS') STR_OPN_TM
			 , TO_CHAR(S.STR_CLS_TM, 'HH24:MI:SS') STR_CLS_TM
			 , S.USE_YN
			 , S.DEL_YN
		  FROM STR S
		 WHERE S.DEL_YN = 'N'
		   AND S.USE_YN = 'N'
		   AND S.MBR_ID IS NULL
		<if test='strNm != null and strNm != ""'>
		   AND S.STR_NM LIKE '%' || #{strNm} || '%'
		</if>
	
		<if test='strAddr != null and strAddr != ""'>
		   AND S.STR_ADDR LIKE '%' || #{strAddr} || '%'
		</if>
	</select>
	<!-- 회원 기능과 연동 -->
	<select id="readOneStrByMbrId"
			parameterType="string"
			resultType="_int">
		SELECT COUNT(1)
		  FROM STR
		 WHERE MBR_ID= #{_parameter}
	</select>
	<!-- 회원 기능과 연동 -->
	<update id="deleteOneManagerByMbrId"
			parameterType="string">
			UPDATE STR
			   SET MBR_ID = NULL 
			 WHERE MBR_ID = #{_parameter}
	</update>
	<update id="updateOneStrByStrIdAndMbrId"
			parameterType="com.ktds.fr.mbr.vo.MbrVO">
			UPDATE STR
			   SET MBR_ID = #{mbrId} 
			 WHERE STR_ID = #{strId}
	</update>

</mapper>
