<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Cty">

	<resultMap id="ctyCdVOMap" 
				type="com.ktds.fr.ctycd.vo.CtyCdVO"
				autoMapping="true">
		<id property="ctyId" column="CTY_ID"/>
		<association property="lctCdVO"
					  javaType="com.ktds.fr.lctcd.vo.LctCdVO">
			<id property="lctId" column="LCT_ID"/>
			<result property="lctNm" column="LCT_NM"/>
		</association>
	</resultMap>

	<select id="readCategory"
			parameterType="com.ktds.fr.ctycd.vo.CtyCdVO"
			resultMap="ctyCdVOMap">
		SELECT C.CTY_ID
			 , C.CTY_NM
			 , C.LCT_ID
			 , L.LCT_NM 
		  FROM CTY_CD C
		  JOIN LCT_CD L
		  	ON C.LCT_ID = L.LCT_ID
		 <if test='ctyId != null and ctyId != ""'>
		 WHERE C.CTY_ID LIKE '%' || #{ctyId} || '-%'
		</if>
		 ORDER BY C.CTY_ID ASC 
	</select>


	<!-- 매장이 있는 도시만 줏어오기 -->
	<select id="read"
			parameterType="com.ktds.fr.ctycd.vo.CtyCdVO"
			resultType="com.ktds.fr.ctycd.vo.CtyCdVO">
		SELECT CTY_ID
			 , CTY_NM
			 , LCT_ID
		  FROM CTY_CD 
		 WHERE LCT_ID = NVL(#{lctId}, '-') 
		   AND CTY_ID IN (SELECT DISTINCT STR_CTY
				 			FROM STR
				 		   WHERE USE_YN = 'Y'
				 			 AND DEL_YN = 'N')
		 ORDER BY CTY_NM ASC 
	</select>


</mapper>
