<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Cty">

	<resultMap id="ctyCdVOMap" 
				type="com.ktds.fr.ctycd.vo.CtyCdVO"
				autoMapping="true">
		<id property="ctyId" column="CTY_ID"/>
		<association property="lctCdVO"
					  javaType="com.ktds.fr.lctcd.vo.LctCdVO">
			<id property="lctId" column="LCT_ID"/>
			<result property="lctNm" column="LCT_NM"/>
		</association>
	</resultMap>

	<select id="readCategory"
			parameterType="com.ktds.fr.ctycd.vo.CtyCdVO"
			resultMap="ctyCdVOMap">
		SELECT C.CTY_ID
			 , C.CTY_NM
			 , C.LCT_ID
			 , L.LCT_NM 
		  FROM CTY_CD C
		  JOIN LCT_CD L
		  	ON C.LCT_ID = L.LCT_ID
		 WHERE 1 = 1
		<if test='ctyId != null and ctyId != ""'>
		   AND C.CTY_ID LIKE '%' || #{ctyId} || '%'
		</if>
		<if test='lctId != null and lctId != ""'>
		   AND L.LCT_ID LIKE '%' || #{lctId} || '%'
		</if>
		 ORDER BY C.CTY_ID ASC 
	</select>


</mapper>
